/*portrait iphone*/
/*@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation : portrait) {*/




.navVar {
	background-color: black;
	color: white;
	font-family: 'Germania One', cursive;

}


.navIcon {
	height: 10vh;
	width: 10vh;
	background-image: url(../images/mjolnir.png);
	background-size: cover;

}

.rotateIcon:hover {
	-webkit-transform: rotate(265deg);
	-moz-transform: rotate(265deg);
	-o-transform: rotate(265deg);
	-ms-transform: rotate(265deg);
	transform: rotate(265deg);
}

.navBar {
	background-color: black;

	width: 18vh;
	color: white;
	font-family: 'Germania One', cursive;
	font-size: 5vh;
}

.logo {
	width: 35vh;
	height: 11vh;

	background-image: url(../images/bookisthorBlack.png);
	background-size: cover;
}

.logoPosition {
	display: flex;
	justify-content: flex-start;

}

.cartLogo {
	display: inline-flex;
	height: 5vh;
	width: 5vh;
	margin-top: 1vh;
	background-image: url(../images/baseline_add_shopping_cart_white_18dp.png);
	background-size: cover;

}

.shopIcon {
	display: flex;
	justify-content: flex-end;
	vertical-align: top;
	height: 7vh;
	border-bottom: solid;
	border-top: solid;
	border-width: 0.5vh;
	border-top-color: white;
	border-bottom-color: white;
	background-color: black;
}

.booksLink {
	display: none;
}

.comicLink {
	display: none;

}

.textShoIcon {
	height: 5vh;
	width: 5vh;
	display: inline-flex;
	margin-left: 2vh;
	vertical-align: top;
	font-size: 4vh;

}

.IconItem {
	font-size: 4vh;
	height: 5vh;
	width: 8vh;
	margin-top: 1vh;
	color: white;
}

.divMain {
	background-color: black;
	height: 83vh;
	border-top: solid;
	border-width: 0.5vh;
	border-top-color: white;
	padding-top: 1vh;
}

.footer {
	height: 10vh;
	background-color: black;
	border-top: solid;
	border-top-color: white;
}




/*-------aboutMain--------*/
.aboutMain {
	background-color: gainsboro;
	height: 70%;
	border-top: solid;
	border-width: 0.5vh;
	border-top-color: white;
}

.textUnderline {
	border-bottom: solid;
	border-width: 0.5vh;
	border-color: black;
}

.marginTop {
	margin-top: 2vh;
}

/*---booksMain---*/
.booksMain {
	background-color: black;
	height: 70%;
	border-top: solid;
	border-width: 0.5vh;
	border-top-color: white;

}

.divSizeFlip {
	width: 100%;
	height: 60vh;
	padding-top: 3vh;
	border-top: solid;
	border-top-width: 0.5vh;
	border-top-color: white;

}

.filterBar {
	display: inline-flex;
	height: 5vh;
	width: 100%;
	/*	margin-left:1vh;*/

}

.inputSearch {
	width: 100%;
	height: 5vh;
}

.imgBook {
	width: 100%;
	height: 100%;
	align-items: center;


}

.resetButton {
	background-image: url(../images/baseline_refresh_black_18dp.png);
	background-size: cover;
	height: 5vh;
	width: 6vh;
}

.selectBox {
	height: 5vh;
}

.optionBox {
	width: 9vh;
	height: 5vh;
}

.optionThinBox {
	width: 12vh;
	height: 5vh;
}

.downMenuFilter {
	width: 27vh;


}

.paddingTop {
	padding-top: 2vh;
}

.filterButton {
	background-color: gray;
	color: black;
	height: 5vh;

}

.imgBookSize {
	margin-top: 3vh;
}

.addButton {
	display: flex;
	justify-content: center;

}

.starLogo {
	width: 7vh;
	height: 7vh;
	background-image: url(../images/baseline_grade_black_18dp.png);
	background-size: cover;
}

.valBox {
	margin-top: 1vh;
	margin-left: 1vh;
}

.priceLogo {
	width: 7vh;
	height: 7vh;
	background-image: url(../images/baseline_attach_money_black_18dp.png);
	background-size: cover;
}

.priceBox {
	margin-top: 1vh;


}

.innerInfo {
	display: inline-flex;

}

.innerInfoButton {
	margin-left: 5vh
}

.backPosition {

	display: flex;
	flex-flow: column;
	vertical-align: baseline;
}

.divButtons {
	margin-bottom: 1vh;
	background-color: whitesmoke;

}

.orderContent {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.searchNoMatch {
	background-color: black;

}

.deadTextBook {
	font-size: 4vh;
	color: whitesmoke;
	display: flex;
	justify-content: center;
}


/*flip-----------*/

.flip-box {
	background-color: transparent;
	width: 260px;
	height: 355px;
	border: 0px solid #f1f1f1;
	perspective: 1000px;
	/* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
	background-color: #bbb;
	color: black;
}

/* Style the back side */
.flip-box-back {
	background-color: maroon;
	color: white;
	transform: rotateY(180deg);
}

/*detail-----------*/
.imgSizeDetail {
	
	height: 35vh;
/*	margin-right: 2vh;*/
	margin-bottom: 2vh;
}

.detailPosition {
	display: flex;
	flex-flow: wrap;
}

.details {

	margin-top: 2vh;
	border: solid;
	border-width: 0.5vh;
	border-color: whitesmoke;
	color: whitesmoke;
	font-family: 'Germania One', cursive;

}

.font {
	font-family: 'Germania One', cursive;

}

.colorFont {
	color: whitesmoke;
}

.fontSizeCart {
	font-size: 4vh;

}

.detailsNextToImg {
	height: 35vh;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	
	margin-left: 5vh;
}
.detailsNextToImg2 {
	height: 35vh;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	
	margin-left: 5vh;
}

.insideDetailsNextToImg {
	display: inline-flex;

}

.fontSize {
	font-size: 35px;
}

.starLogoWhite {
	width: 6vh;
	height: 6vh;
	background-image: url(../images/baseline_grade_white_18dp.png);
	background-size: cover;
}

.priceLogoWhite {
	width: 5vh;
	height: 5vh;
	background-image: url(../images/baseline_attach_money_white_18dp.png);
	background-size: cover;
	margin-top: 0.5vh;
}

.locateButtons {
	display: flex;
	justify-content: space-around;
}

.underLineOn {
	border-bottom: solid;
	border-bottom-width: 0.5vh;
	border-bottom-color: whitesmoke;
}

.deadpoolModalImg {

	width: 100%;

}

.modalText {
	text-align: center;
}


/*-----cart---------------------*/

.imgCartSize {
	/*	width: 23vh;*/
	height: 30vh;
	margin-bottom: 2vh;
}

.cartDiv {

	display: inline-flex;
	flex-flow: wrap;
	justify-content: space-around;
}

.cartInDiv {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

.titleCartDiv {
	display: flex;
	justify-content: center;

}

.inputQty {
	width: 4vh;
	height: 4vh;
}

.buttonRemove {
	display: flex;
	justify-content: flex-end;
}

.buttonCheckOut {
	height: 10vh;
	width: 45%;
	font-size: 3vh;
}

.takeMyMoney {
	width: 50vh;
	height: 25vh;
}

.noShow {
	display: none;
}

.deadText {
	font-size: 3vh;
	color: whitesmoke;
	display: flex;
	justify-content: center;
}

.deadImg {
	width: 100%;
	height: 65vh;
}

/*----------footer-------*/

.textFooter {
	font-size: 3vh;
	color: whitesmoke;
	display: flex;
	justify-content: center;
	margin-top: 3vh;
	/*}*/

	/*landscape Iphone----------------------------*/
	@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {

		.navVar {
			background-color: black;
			color: white;
			font-family: 'Germania One', cursive;


		}


		.navIcon {
			height: 25vh;
			width: 25vh;
			background-image: url(../images/mjolnir.png);
			background-size: cover;

		}

		.rotateIcon:hover {
			-webkit-transform: rotate(265deg);
			-moz-transform: rotate(265deg);
			-o-transform: rotate(265deg);
			-ms-transform: rotate(265deg);
			transform: rotate(265deg);
		}

		.navBar {
			background-color: black;

			width: 18vh;
			color: white;
			font-family: 'Germania One', cursive;
			font-size: 5vh;
		}

		.logo {
			width: 70vh;
			height: 25vh;

			background-image: url(../images/bookisthorBlack.png);
			background-size: cover;
			margin-left: 30vh;
		}

		.logoPosition {
			display: flex;
			justify-content: flex-start;

		}

		.cartLogo {
			display: inline-flex;
			height: 10vh;
			width: 10vh;
			margin-top: 1vh;
			background-image: url(../images/baseline_add_shopping_cart_white_18dp.png);
			background-size: cover;

		}

		.shopIcon {
			display: flex;
			justify-content: flex-end;
			vertical-align: top;
			height: 12vh;
			border-bottom: solid;
			border-top: solid;
			border-width: 0.5vh;
			border-top-color: white;
			border-bottom-color: white;
			background-color: black;
		}

		.booksLink {
			display: none;
		}

		.comicLink {
			display: none;

		}

		.textShoIcon {
			height: 5vh;
			width: 5vh;
			display: inline-flex;
			margin-left: 2vh;
			vertical-align: top;
			font-size: 4vh;

		}

		.IconItem {
			font-size: 8vh;
			height: 11vh;
			width: 10vh;

			color: white;
		}

		.divMain {
			background-color: black;
			height: 220vh;
			border-top: solid;
			border-width: 0.5vh;
			border-top-color: white;
			padding-top: 1vh;
		}

		.footer {
			height: 10vh;
			background-color: black;
			border-top: solid;
			border-top-color: white;
		}




		/*-------aboutMain--------*/
		.aboutMain {
			background-color: gainsboro;
			height: 70%;
			border-top: solid;
			border-width: 0.5vh;
			border-top-color: white;
		}

		.textUnderline {
			border-bottom: solid;
			border-width: 0.5vh;
			border-color: black;
		}

		.marginTop {
			margin-top: 2vh;
		}

		/*---booksMain---*/
		.booksMain {
			background-color: black;
			height: 70%;
			border-top: solid;
			border-width: 0.5vh;
			border-top-color: white;

		}

		.divSizeFlip {
			width: 100%;
			height: 60vh;
			padding-top: 3vh;
			border-top: solid;
			border-top-width: 0.5vh;
			border-top-color: white;

		}

		.filterBar {
			display: inline-flex;
			height: 5vh;
			width: 100%;
			/*	margin-left:1vh;*/

		}

		.inputSearch {
			width: 100%;
			height: 5vh;
		}

		.imgBook {
			width: 100%;
			height: 100%;
			align-items: center;


		}

		.downMenuFilter {
			width: 27vh;


		}

		.paddingTop {
			padding-top: 2vh;
		}

		.filterButton {
			background-color: gray;
			color: black;
			height: 5vh;

		}

		.imgBookSize {
			margin-top: 3vh;
		}

		.addButton {
			display: flex;
			justify-content: center;

		}

		.starLogo {
			width: 7vh;
			height: 7vh;
			background-image: url(../images/baseline_grade_black_18dp.png);
			background-size: cover;
		}

		.valBox {
			margin-top: 1vh;
			margin-left: 1vh;
		}

		.priceLogo {
			width: 7vh;
			height: 7vh;
			background-image: url(../images/baseline_attach_money_black_18dp.png);
			background-size: cover;
		}

		.priceBox {
			margin-top: 1vh;


		}

		.innerInfo {
			display: inline-flex;

		}

		.innerInfoButton {
			margin-left: 5vh
		}

		.backPosition {

			display: flex;
			flex-flow: column;
			vertical-align: baseline;
		}

		.divButtons {
			margin-bottom: 1vh;
			background-color: whitesmoke;

		}

		.orderContent {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
		}

		/*flip-----------*/

		.flip-box {
			background-color: transparent;
			width: 260px;
			height: 355px;
			border: 0px solid #f1f1f1;
			perspective: 1000px;
			/* Remove this if you don't want the 3D effect */
		}

		/* This container is needed to position the front and back side */
		.flip-box-inner {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: transform 0.8s;
			transform-style: preserve-3d;
		}

		/* Do an horizontal flip when you move the mouse over the flip box container */
		.flip-box:hover .flip-box-inner {
			transform: rotateY(180deg);
		}

		/* Position the front and back side */
		.flip-box-front,
		.flip-box-back {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
		}

		/* Style the front side (fallback if image is missing) */
		.flip-box-front {
			background-color: #bbb;
			color: black;
		}

		/* Style the back side */
		.flip-box-back {
			background-color: maroon;
			color: white;
			transform: rotateY(180deg);
		}

		/*detail-----------*/
		.imgSizeDetail {
			width: 25vh;
			height: 35vh;
			margin-right: 2vh;
			margin-bottom: 2vh;
		}

		.detailPosition {
			display: flex;
			flex-flow: wrap;
		}

		.details {

			margin-top: 2vh;
			border: solid;
			border-width: 0.5vh;
			border-color: whitesmoke;
			color: whitesmoke;
			font-family: 'Germania One', cursive;

		}

		.font {
			font-family: 'Germania One', cursive;

		}

		.colorFont {
			color: whitesmoke;
		}

		.fontSizeCart {
			font-size: 4vh;

		}

		.detailsNextToImg {
			height: 35vh;
			display: flex;
			flex-flow: column;
			justify-content: space-around;
		}

		.insideDetailsNextToImg {
			display: inline-flex;

		}

		.fontSize {
			font-size: 35px;
		}

		.starLogoWhite {
			width: 6vh;
			height: 6vh;
			background-image: url(../images/baseline_grade_white_18dp.png);
			background-size: cover;
		}

		.priceLogoWhite {
			width: 5vh;
			height: 5vh;
			background-image: url(../images/baseline_attach_money_white_18dp.png);
			background-size: cover;
			margin-top: 0.5vh;
		}

		.locateButtons {
			display: flex;
			justify-content: space-around;
		}

		.underLineOn {
			border-bottom: solid;
			border-bottom-width: 0.5vh;
			border-bottom-color: whitesmoke;
		}

		/*-----cart---------------------*/

		.imgCartSize {
			width: 23vh;
			height: 30vh;
			margin-bottom: 2vh;
		}

		.cartDiv {

			display: inline-flex;
			flex-flow: wrap;
			justify-content: space-around;
		}

		.cartInDiv {
			display: flex;
			flex-flow: column;
			justify-content: space-around;
		}

		.titleCartDiv {
			display: flex;
			justify-content: center;
		}

		.inputQty {
			width: 5vh;
			height: 5vh;
		}

		.buttonRemove {
			display: flex;
			justify-content: flex-end;
		}

		.buttonCheckOut {
			height: 10vh;
			width: 45%;
			font-size: 3vh;
		}

		.takeMyMoney {
			width: 50vh;
			height: 25vh;
		}
	}


	/*portrait ipad-------------------------------*/
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
		.navVar {
			background-color: #2f2f1e;
			color: white;
			font-family: 'Germania One', cursive;
			font-size: 5vh;
		}


		.navIcon {
			height: 12vh;
			width: 12vh;
			background-image: url(../images/mjolnirIpad.png);
			background-size: cover;
			border-color: #2f2f1e;

		}


		.navBar {
			background-color: #2f2f1e;
			width: 20vh;
		}

		.logo {
			width: 40vh;
			height: 10vh;
			border-color: #2f2f1e;
			background-image: url(../images/bookisthoripad.png);
			background-size: cover;
			margin-left: 5vh;
		}

		.logoPosition {
			display: flex;
			justify-content: flex-start;


		}

		.cartLogo {
			display: inline-flex;
			height: 6vh;
			width: 6vh;
			margin-left: 2vh;
			font-size: 2vh;
			background-image: url(../images/baseline_add_shopping_cart_white_18dp.png);
			background-size: cover;
			margin-top: 1vh;

		}

		.shopIcon {
			display: flex;
			justify-content: flex-end;
			vertical-align: top;
			height: 8vh;
			border-bottom: solid;
			border-bottom-color: white;
		}

		.booksLink {
			display: none;
		}

		.comicLink {
			display: none;

		}

		.textShoIcon {
			height: 6vh;
			width: 8vh;
			display: inline-flex;
			margin-left: 2vh;
			vertical-align: top;


		}

		.IconItem {
			font-size: 6vh;
			height: 6vh;
			width: 8vh;

		}


		.divMain {
			background-color: black;
			height: 101vh;
			border-top: solid;
			border-width: 0.5vh;
			border-top-color: white;
		}

		.footer {
			height: 10vh;
			background-color: #2f2f1e;
			border-top: solid;
			border-top-color: white;
		}

		.carusel {
			width: 100%;
			height: 100%;
		}
	}

	/*landscape ipad------------------------*/
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

		.navVar {
			background-color: #2f2f1e;
			color: white;
			font-family: 'Germania One', cursive;
			font-size: 9vh;

		}

		.navIcon {
			height: 20vh;
			width: 20vh;
			background-image: url(../images/mjolnirIpad.png);
			background-size: cover;
			border-color: #2f2f1e;

		}


		.navBar {
			background-color: #2f2f1e;
			width: 30vh;
		}

		.logo {
			width: 78vh;
			height: 25vh;
			border-color: #2f2f1e;
			background-image: url(../images/bookisthoripad.png);
			background-size: cover;
			margin-left: 5vh;

		}

		.logoPosition {
			display: flex;
			justify-content: flex-start;
		}

		.cartLogo {
			display: inline-flex;
			height: 8vh;
			width: 8vh;
			margin-left: 2vh;
			font-size: 2vh;
			background-image: url(../images/baseline_add_shopping_cart_white_18dp.png);
			background-size: cover;
			margin-top: 1vh;



		}

		.shopIcon {
			display: flex;
			justify-content: flex-end;
			vertical-align: top;
			height: 10vh;
			border-bottom: solid;
			border-bottom-color: white;
			background-color: black;
		}

		.booksLink {
			display: none;
		}

		.comicLink {
			display: none;

		}


		.textShoIcon {
			height: 10vh;
			width: 8vh;
			display: inline-flex;
			margin-left: 2vh;
			vertical-align: top;


		}

		.IconItem {
			font-size: 8vh;
			height: 10vh;
			width: 8vh;

		}



		.divMain {
			background-color: black;
			height: 176vh;
			border-top: solid;
			border-width: 0.5vh;
			border-top-color: white;
		}

		.footer {
			height: 10vh;
			background-color: #2f2f1e;
			border-top: solid;
			border-top-color: white;
		}

		.carusel {
			width: 100%;
			height: 100%;
		}

	}

	/*Laptop----------------------------*/
	@media (min-width: 1080px) and (max-width: 1980px) {

		.navVar {
			background-color: whitesmoke;
			color: black;
			font-family: 'Germania One', cursive;
			font-size: 5vh;
		}


		.navIcon {
			height: 13vh;
			width: 13vh;
			background-image: url(../images/mjolnirLaptop.png);
			background-size: cover;


		}

		.rotateIcon:hover {
			-webkit-transform: rotate(265deg);
			-moz-transform: rotate(265deg);
			-o-transform: rotate(265deg);
			-ms-transform: rotate(265deg);
			transform: rotate(265deg);
		}


		.navBar {
			background-color: whitesmoke;
			width: 24vh;
		}

		.logo {
			width: 56vh;
			height: 15vh;

			background-image: url(../images/bookisthorLaptop.png);
			background-size: cover;

			margin-left: 55vh;
		}

		.logoPosition {
			display: flex;
			justify-content: flex-start;


		}

		.cartLogo {
			display: inline-flex;
			height: 6vh;
			width: 6vh;
			margin-left: 2vh;
			font-size: 2vh;
			background-image: url(../images/baseline_add_shopping_cart_black_18dp.png);
			background-size: cover;
			margin-top: 1vh;

		}

		.shopIcon {
			display: flex;
			justify-content: space-between;
			vertical-align: top;
			height: 8vh;
			border-bottom: solid;
			border-bottom-color: black;
			background-color: whitesmoke;

		}

		.linksToGallery {
			display: inline-flex;
			margin-left: 40%;
		}

		.booksLink {
			margin-top: 7px;
			margin-left: 12px;
			font-family: 'Germania One', cursive;
			display: block;
			color: black;
		}

		.comicLink {
			margin-left: 121px;
			margin-top: 7px;
			font-family: 'Germania One', cursive;
			display: block;
			color: black;

		}

		.textShoIcon {
			height: 6vh;
			width: 8vh;
			display: inline-flex;
			margin-left: 2vh;
			vertical-align: top;



		}

		.IconItem {

			height: 6vh;
			width: 8vh;
			margin-top: 1vh;
			color: black;



		}


		.divMain {
			background-color: gainsboro;
			height: 70%;
			border-top: solid;
			border-width: 0.5vh;
			border-top-color: black;
		}

		.footer {
			height: 10vh;
			background-color: whitesmoke;
			border-top: solid;
			border-top-color: black;
		}

		/*	--------aboutMain-----------*/

	}
